@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: 'RobotoRegular';
    src: url('font/EF_Roboto_Reguler/RobotoRegular.eot');
    src: url('font/EF_Roboto_Reguler/RobotoRegular.eot') format('embedded-opentype'),
         url('font/EF_Roboto_Reguler/RobotoRegular.woff2') format('woff2'),
         url('font/EF_Roboto_Reguler/RobotoRegular.woff') format('woff'),
         url('font/EF_Roboto_Reguler/RobotoRegular.ttf') format('truetype'),
         url('font/EF_Roboto_Reguler/RobotoRegular.svg#RobotoRegular') format('svg');
}
@font-face {
    font-family: 'RobotoBlack';
    src: url('font/Roboto-Black/RobotoBlack.eot');
    src: url('font/Roboto-Black/RobotoBlack.eot') format('embedded-opentype'),
         url('font/Roboto-Black/RobotoBlack.woff2') format('woff2'),
         url('font/Roboto-Black/RobotoBlack.woff') format('woff'),
         url('font/Roboto-Black/RobotoBlack.ttf') format('truetype'),
         url('font/Roboto-Black/RobotoBlack.svg#RobotoBlack') format('svg');
}
@font-face {
    font-family: 'RobotoBold';
    src: url('font/EF_Roboto_Bold/RobotoBold.eot');
    src: url('font/EF_Roboto_Bold/RobotoBold.eot') format('embedded-opentype'),
         url('font/EF_Roboto_Bold/RobotoBold.woff2') format('woff2'),
         url('font/EF_Roboto_Bold/RobotoBold.woff') format('woff'),
         url('font/EF_Roboto_Bold/RobotoBold.ttf') format('truetype'),
         url('font/EF_Roboto_Bold/RobotoBold.svg#RobotoBold') format('svg');
}
@font-face {
    font-family: 'UTMHelvetIns';
    src: url('font/EF_UTM_HelvetIns/UTMHelvetIns.eot');
    src: url('font/EF_UTM_HelvetIns/UTMHelvetIns.eot') format('embedded-opentype'),
         url('font/EF_UTM_HelvetIns/UTMHelvetIns.woff2') format('woff2'),
         url('font/EF_UTM_HelvetIns/UTMHelvetIns.woff') format('woff'),
         url('font/EF_UTM_HelvetIns/UTMHelvetIns.ttf') format('truetype'),
         url('font/EF_UTM_HelvetIns/UTMHelvetIns.svg#UTMHelvetIns') format('svg');
}











@font-face {
    font-family: 'UTMAvoBold';
    src: url('font/EF_UTM_Avo_Bold/UTMAvoBold.eot');
    src: url('font/EF_UTM_Avo_Bold/UTMAvoBold.eot') format('embedded-opentype'),
         url('font/EF_UTM_Avo_Bold/UTMAvoBold.woff2') format('woff2'),
         url('font/EF_UTM_Avo_Bold/UTMAvoBold.woff') format('woff'),
         url('font/EF_UTM_Avo_Bold/UTMAvoBold.ttf') format('truetype'),
         url('font/EF_UTM_Avo_Bold/UTMAvoBold.svg#UTMAvoBold') format('svg');
}
@font-face {
    font-family: 'UTMAvo';
    src: url('font/EF_UTM_Avo/UTMAvo.eot');
    src: url('font/EF_UTM_Avo/UTMAvo.eot') format('embedded-opentype'),
         url('font/EF_UTM_Avo/UTMAvo.woff2') format('woff2'),
         url('font/EF_UTM_Avo/UTMAvo.woff') format('woff'),
         url('font/EF_UTM_Avo/UTMAvo.ttf') format('truetype'),
         url('font/EF_UTM_Avo/UTMAvo.svg#UTMAvo') format('svg');
}
@font-face {
    font-family: 'RobotoCondensedRegular';
    src: url('font/EF_Roboto_Condense_Reguler/RobotoCondensedRegular.eot');
    src: url('font/EF_Roboto_Condense_Reguler/RobotoCondensedRegular.eot') format('embedded-opentype'),
         url('font/EF_Roboto_Condense_Reguler/RobotoCondensedRegular.woff2') format('woff2'),
         url('font/EF_Roboto_Condense_Reguler/RobotoCondensedRegular.woff') format('woff'),
         url('font/EF_Roboto_Condense_Reguler/RobotoCondensedRegular.ttf') format('truetype'),
         url('font/EF_Roboto_Condense_Reguler/RobotoCondensedRegular.svg#RobotoCondensedRegular') format('svg');
}
@font-face {
    font-family: 'RobotoMedium';
    src: url('font/EF_Roboto_Medium/RobotoMedium.eot');
    src: url('font/EF_Roboto_Medium/RobotoMedium.eot') format('embedded-opentype'),
         url('font/EF_Roboto_Medium/RobotoMedium.woff2') format('woff2'),
         url('font/EF_Roboto_Medium/RobotoMedium.woff') format('woff'),
         url('font/EF_Roboto_Medium/RobotoMedium.ttf') format('truetype'),
         url('font/EF_Roboto_Medium/RobotoMedium.svg#RobotoMedium') format('svg');
}

@font-face {
    font-family: 'OpenSansSemibold';
    src: url('font/OpenSans-Semibold/OpenSansSemibold.eot');
    src: url('font/OpenSans-Semibold/OpenSansSemibold.eot') format('embedded-opentype'),
         url('font/OpenSans-Semibold/OpenSansSemibold.woff2') format('woff2'),
         url('font/OpenSans-Semibold/OpenSansSemibold.woff') format('woff'),
         url('font/OpenSans-Semibold/OpenSansSemibold.ttf') format('truetype'),
         url('font/OpenSans-Semibold/OpenSansSemibold.svg#OpenSansSemibold') format('svg');
}
@font-face {
    font-family: 'RobotoCondensedBold';
    src: url('font/EF_Roboto_Condense_Bold/RobotoCondensedBold.eot');
    src: url('font/EF_Roboto_Condense_Bold/RobotoCondensedBold.eot') format('embedded-opentype'),
         url('font/EF_Roboto_Condense_Bold/RobotoCondensedBold.woff2') format('woff2'),
         url('font/EF_Roboto_Condense_Bold/RobotoCondensedBold.woff') format('woff'),
         url('font/EF_Roboto_Condense_Bold/RobotoCondensedBold.ttf') format('truetype'),
         url('font/EF_Roboto_Condense_Bold/RobotoCondensedBold.svg#RobotoCondensedBold') format('svg');
}
@font-face {
    font-family: 'UTMAlterGothic';
    src: url('font/EF_UTM_Alter_Go/UTMAlterGothic.eot');
    src: url('font/EF_UTM_Alter_Go/UTMAlterGothic.eot') format('embedded-opentype'),
         url('font/EF_UTM_Alter_Go/UTMAlterGothic.woff2') format('woff2'),
         url('font/EF_UTM_Alter_Go/UTMAlterGothic.woff') format('woff'),
         url('font/EF_UTM_Alter_Go/UTMAlterGothic.ttf') format('truetype'),
         url('font/EF_UTM_Alter_Go/UTMAlterGothic.svg#UTMAlterGothic') format('svg');
}











@font-face {
    font-family: 'SFUMatrixBold';
    src: url('font/SFUMatrixBold/SFUMatrixBold.eot');
    src: url('font/SFUMatrixBold/SFUMatrixBold.eot') format('embedded-opentype'),
         url('font/SFUMatrixBold/SFUMatrixBold.woff2') format('woff2'),
         url('font/SFUMatrixBold/SFUMatrixBold.woff') format('woff'),
         url('font/SFUMatrixBold/SFUMatrixBold.ttf') format('truetype'),
         url('font/SFUMatrixBold/SFUMatrixBold.svg#SFUMatrixBold') format('svg');
}



@font-face {
    font-family: 'SFUAngieBold';
    src: url('font/SFUAngieBold/SFUAngieBold.eot');
    src: url('font/SFUAngieBold/SFUAngieBold.eot') format('embedded-opentype'),
         url('font/SFUAngieBold/SFUAngieBold.woff2') format('woff2'),
         url('font/SFUAngieBold/SFUAngieBold.woff') format('woff'),
         url('font/SFUAngieBold/SFUAngieBold.ttf') format('truetype'),
         url('font/SFUAngieBold/SFUAngieBold.svg#SFUAngieBold') format('svg');
}







@font-face {
    font-family: 'UTMViceroyJF';
    src: url('font/EF_UTM_ViceroyJF/UTMViceroyJF.eot');
    src: url('font/EF_UTM_ViceroyJF/UTMViceroyJF.eot') format('embedded-opentype'),
         url('font/EF_UTM_ViceroyJF/UTMViceroyJF.woff2') format('woff2'),
         url('font/EF_UTM_ViceroyJF/UTMViceroyJF.woff') format('woff'),
         url('font/EF_UTM_ViceroyJF/UTMViceroyJF.ttf') format('truetype'),
         url('font/EF_UTM_ViceroyJF/UTMViceroyJF.svg#UTMViceroyJF') format('svg');
}
@font-face {
    font-family: 'UTMCookies';
    src: url('font/EF_UTM_Cookies/UTMCookies.eot');
    src: url('font/EF_UTM_Cookies/UTMCookies.eot') format('embedded-opentype'),
         url('font/EF_UTM_Cookies/UTMCookies.woff2') format('woff2'),
         url('font/EF_UTM_Cookies/UTMCookies.woff') format('woff'),
         url('font/EF_UTM_Cookies/UTMCookies.ttf') format('truetype'),
         url('font/EF_UTM_Cookies/UTMCookies.svg#UTMCookies') format('svg');
}


@font-face {
    font-family: 'UTMColossalis';
    src: url('font/UTM Colossalis/UTMColossalis.eot');
    src: url('font/UTM Colossalis/UTMColossalis.eot') format('embedded-opentype'),
         url('font/UTM Colossalis/UTMColossalis.woff2') format('woff2'),
         url('font/UTM Colossalis/UTMColossalis.woff') format('woff'),
         url('font/UTM Colossalis/UTMColossalis.ttf') format('truetype'),
         url('font/UTM Colossalis/UTMColossalis.svg#UTMColossalis') format('svg');
}
@font-face {
    font-family: 'SFUEurostileCondensed';
    src: url('font/SFUEurostileCondensed/SFUEurostileCondensed.eot');
    src: url('font/SFUEurostileCondensed/SFUEurostileCondensed.eot') format('embedded-opentype'),
         url('font/SFUEurostileCondensed/SFUEurostileCondensed.woff2') format('woff2'),
         url('font/SFUEurostileCondensed/SFUEurostileCondensed.woff') format('woff'),
         url('font/SFUEurostileCondensed/SFUEurostileCondensed.ttf') format('truetype'),
         url('font/SFUEurostileCondensed/SFUEurostileCondensed.svg#SFUEurostileCondensed') format('svg');
}
@font-face {
    font-family: 'SFUEurostileBoldCondensed';
    src: url('font/SFUEurostileBoldCondensed/SFUEurostileBoldCondensed.eot');
    src: url('font/SFUEurostileBoldCondensed/SFUEurostileBoldCondensed.eot') format('embedded-opentype'),
         url('font/SFUEurostileBoldCondensed/SFUEurostileBoldCondensed.woff2') format('woff2'),
         url('font/SFUEurostileBoldCondensed/SFUEurostileBoldCondensed.woff') format('woff'),
         url('font/SFUEurostileBoldCondensed/SFUEurostileBoldCondensed.ttf') format('truetype'),
         url('font/SFUEurostileBoldCondensed/SFUEurostileBoldCondensed.svg#SFUEurostileBoldCondensed') format('svg');
}
@font-face {
    font-family: 'RobotoLight';
    src: url('font/EF_Roboto_Light/RobotoLight.eot');
    src: url('font/EF_Roboto_Light/RobotoLight.eot') format('embedded-opentype'),
         url('font/EF_Roboto_Light/RobotoLight.woff2') format('woff2'),
         url('font/EF_Roboto_Light/RobotoLight.woff') format('woff'),
         url('font/EF_Roboto_Light/RobotoLight.ttf') format('truetype'),
         url('font/EF_Roboto_Light/RobotoLight.svg#RobotoLight') format('svg');
}
















@font-face {
    font-family: 'Tahoma';
    src: url('font/Tahoma/Tahoma.eot');
    src: url('font/Tahoma/Tahoma.eot') format('embedded-opentype'),
         url('font/Tahoma/Tahoma.woff2') format('woff2'),
         url('font/Tahoma/Tahoma.woff') format('woff'),
         url('font/Tahoma/Tahoma.ttf') format('truetype'),
         url('font/Tahoma/Tahoma.svg#Tahoma') format('svg');
}



@font-face {
    font-family: '037_Vectordep_vn_HAVOBI';
    src: url('font/037_Vectordep_vn_HAVOBI/037_Vectordep_vn_HAVOBI.eot');
    src: url('font/037_Vectordep_vn_HAVOBI/037_Vectordep_vn_HAVOBI.eot') format('embedded-opentype'),
         url('font/037_Vectordep_vn_HAVOBI/037_Vectordep_vn_HAVOBI.woff2') format('woff2'),
         url('font/037_Vectordep_vn_HAVOBI/037_Vectordep_vn_HAVOBI.woff') format('woff'),
         url('font/037_Vectordep_vn_HAVOBI/037_Vectordep_vn_HAVOBI.ttf') format('truetype'),
         url('font/037_Vectordep_vn_HAVOBI/037_Vectordep_vn_HAVOBI.svg#037_Vectordep_vn_HAVOBI') format('svg');
}








